#court-booking-loader {
    position: absolute;
    left: 226px;
    top: 39px;
    right: 242px;
    width: 66%;
    height: 60%;
    z-index: 9999;
    background: url('ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .6;
}
#user-booked-court-table {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .6;
}
#userCourtBookedModal .user-profile{
    text-align: center; font-weight:bold;
}
#userCourtBookedModal .bookedDate{
    font-weight:bold;
}
#viewUserCourtBookedTable th{
    font-weight:bold;
}