.auth-page {
    height: 60px;
}

.login-panel {
    background: #008080;
    color: #fff;
    border: none;
    width: 143px;
    height: 34px;
    cursor: pointer;
    margin-right: 5px;

}

.logout-panel {

    background: #008080;

    color: #fff;
    border: none;
    width: 350px;
    height: 34px;
    cursor: pointer;
    margin-right: 5px;
    padding-bottom: 50px;
    padding-top: 5px;
}

.logout-panel ul {
    margin-left: -40px;
    list-style-type: none;
    color: #fff;

}

.logout-panel a {

    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.logout-panel a:hover {
    color: #000;

}

.logout-panel a i {
    margin-right: 5px;
    font-size: 15px;
}

.login-panel a {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 5px;
    left: 30px;
    color: #fff;
    text-decoration: none;
}

.login-panel a i {

    margin-right: 2px;

    font-size: 15px;

}

.login-panel .collapseIcon {
    margin-left: 10px;
    color: black;
    font-size: 18px;

}

#loginCollapse {
    position: absolute;
    background: #008080;
    margin: 30px 0px 0px 0px;
    padding: 10px;
    z-index: 10;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

table.userLoginTable {
    margin-bottom: 0px;
    margin-top: 10px;
    width: 100%;
}

table.userLoginTable tr label {
    padding: 3px 7px;
    white-space: nowrap;
    font-weight: bold;
}

button.userLoginSubmit {
    font-size: 14px;
    padding: 6px 10px 6px 15px;
    background: #000406;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
}

button.userLoginSubmit i {
    margin-left: 5px;

}

.emailErrorMsg, .passwordErrorMsg {
    color: #7b0606;
}

.loginLinks a {
    color: #fff;

}

.loginLinks p i {

    margin-right: 2px;
    color: #fff;

}