
.header {
    background-color: white;
    height: auto;

}
.logo{
    margin-top: 0px;
}


.logo-image {
    /*width: 180px;*/
    /*height: 120px;*/
    margin-left: 10px;

}
.top-header{
    height:30px;
}


.headerContact {
    margin-left: 40px;
    font-size: 15px;

}

.headerContact p {

    font-size: 15px;
    float: left;
}

.nav-menu {

    border: 1px solid #212121;
    background: #212121;
    height: 35px;
    margin-top: 100px;
    width: 825px;
    margin-left: 23px;

}

.nav-menu li a {

    font-weight: bold;
    color: #fff;
    border-right: 2px solid;

}

.nav-menu li a.active {
    height: 33px;

    background-color: #008080;

}

.nav-menu li a:hover {
    height: 33px;
    background-color: #008080;

}
.nav>li>a {
    position: relative;
    display: block;
    padding: 6px 15px;
}
.web-content {
    background-color: #fff;
    border-top: 2px solid #212121;
    display: block;

    overflow: auto;

}

.left-content {
    background-color: #f5f6f7;
    margin-top: 10px;
}

.center-content {
    background-color: #f5f6f7;
    margin-top: 10px;
    width: 100%;

}
.center-content a{
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.center-content i{
    margin-right: 5px;
}

.content-header {
    background: #212121;
    border: 1px solid;
    height: 33px;
    margin-top: 5px;

}
.v-line{
    border-left: 3px solid #000;
    /* width: 20px; */
    /* height: 100%; */
    margin-left: 10px;
    margin-right: 10px;
    /* padding: 2px; */
    background: #000;
    padding-top: 4px;
    padding-bottom: 4px;
}
.center-content .loginBtn,.center-content .registerBtn,.center-content .sendPwdLink,.center-content .resetPwdBtn{
    background: teal;
    border: 2px solid;
    padding: 5px 20px 5px 20px;
}
.center-content .forgotPwdLink{
    color: #000;
}
.paginateLeftArrow{
    color: #000;font-weight: bold; margin-right: 5px;
}
.paginateRightArrow{
    color: #000;font-weight: bold; margin-left: 5px;
}
 .paginateLine{
    border-left: 3px solid #000;
/* width: 20px; */
/* height: 100%; */
    margin-left: 10px;
    margin-right: 10px;
/* padding: 2px; */
    background: #000;
    padding-top: 4px;
    padding-bottom: 4px;
}


.content-header h5 {
    font-weight: bold;
    color: #fff;
    margin-left: 2px;
    margin-top: 0px;
    background: #008080;
    float: left;
    padding: .5em 1em;
    text-decoration: none;
    width: 100%;
}


#footer {
    border-top: 2px solid;
    background-color: #008080;
    color: #fff;
    font-weight: bold;
}

.copyright {
    width: 980px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 1.2em;
    line-height: 14px;
    position: relative;
    text-align: center;
}
.datepicker .next ,.datepicker .prev{
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border: 2px solid;
    cursor: pointer;
}
.datepicker .next:hover ,.datepicker .prev:hover,.datepicker .datepicker-switch:hover{
    background-color: #008080;
    color: #fff;
    font-weight: bold;
    border: 2px solid;
    cursor: pointer;
}
.datepicker .datepicker-switch{
    background-color: #000;
    color: #fff;
    font-weight: bold;
   border: 2px solid;

}

