
.boximg{
    position:relative;
    overflow:hidden;
}

.boximg img{
    transition:all ease-in 500ms;
    border:1px solid #fff;
}
.boximg img:hover{
    transform:scale(1.3,1.3);
    cursor:pointer;

}

.boximg:hover{
    border:1px solid #fff;
}

.date{
    left: 0;
    position: absolute;
    top: 15px;
    padding:5px;
    background-color:teal;
    opacity:0;
    transition:all ease-in 300ms;

}

.likebut{
    background: none repeat scroll 0 0 teal;
    height: 25px;
    padding: 7px;
    position: absolute;
    right: 5px;
    top: 130px;
    width: 25px;
    opacity:0.4;
    transition:all ease-in 300ms;
}


.boximg:hover .date{
    opacity:1;

}
.boximg:hover .likebut{
    opacity:1;

}