#ajax-loader-courtTable {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .6;
}
#ajax-loader-selectCourt {
    position: absolute;
    left: 0px;
    top: 40px;
    width: 100%;
    height: 200px;
    z-index: 9999;
    background: url('../ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .6;
}
#ajax-loader-userReserveTable {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .5;
}
#ajax-loader-bookCourt {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .5;
}
#ajax-loader-printCourt {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .5;
}
/*modal css edit*/
.modal-header{
    padding: 0px;
}
.close{
    color:#fff;
    font-size: 30px;
    font-weight: bold;
    margin-right: 5px;
}

.modal-title{
    font-size: 15px;
    background: teal;
    color: #fff;
    font-weight: bold;
    padding: 5px;
}
/*booking court*/
.bookinglegend {

    margin-top: 7px;
    width: 450px;
}

.bookinglegend ul li {
    list-style: none;
    display: inline-block;

}

.bookinglegend ul li div {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #00243e;
}
.bookinglegend ul li a{
    color: #000;
    font-weight: normal;
}

.bookingstatus0 {
    background-color: #D1E3E9;
    color: #000;
}

.bookingstatus1 {
    background-color: #3c763d;
    color: #000;
}

.bookingstatus2 {
    background-color: yellow;
    color: #000;
}
.bookingstatus3{
    background: orangered;
    color: #000;

}


.bookingCourt {
    margin-top: 10px;
    display: block;
    overflow: auto;
    margin-bottom: 50px;
}

#bookingCourt {
    border-collapse: initial;
    float: left;
}

#bookingCourt td {
    cursor: pointer;
    background: #D1E3E9;
    border: 1px solid;
    height: 40px;
    text-align: center;
    width: 50px;

}

#bookingCourt td:hover {
    background: #057cc0;
}
#bookingCourt table tr td a {
    color: #337ab7;
    background: transparent;
    text-decoration: none;
    display: block;
    width: 50px;
    height: 38px;
}

 #bookingCourt .price th,#bookingCourt  .court th {
    cursor: pointer;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: 1px solid;

    font-size: 12px;
    text-align: center;
    height: 40px;

    width: 50px;

}
#bookingCourt .courtBooking th{
    cursor: pointer;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: 1px solid;

    font-size: 10px;
    text-align: center;
    height: 40px;

    width:50px;
}
.courtBooking .v-line{
    border-left: 3px solid #000;
    /* width: 20px; */
    /* height: 100%; */
    margin-left: 10px;
    margin-right: 10px;
    /* padding: 2px; */
    background: #000;
    padding-top: 4px;
    padding-bottom: 4px;

}



#bookingCourt .unfinishedCourt {

    background: yellow;
}

#bookingCourt .bookedCourt {
    background: #3c763d
}
#bookingCourt .reservedCourt {

    background: orangered;
}



#selectedCourtTable ,#userSelectedCourtTable{
    border-style: none;
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}
#selectedCourtTable tr th,#userSelectedCourtTable tr th  {
    background-color:#000;
    color:#fff;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding: 2px;
}
#selectedCourtTable tr td a,#userSelectedCourtTable tr td a {
    color: red;
    cursor: pointer;
}
#user_selected_booking_court,#selected_booking_court{
    overflow-y: scroll;
    height: 200px;
}
.bookingBtn,.backBtn,.printBookedCourtBtn{
    background: teal;
    border: 2px solid;
    padding: 5px 20px 5px 20px;
}
.userFilterReservation label{
    padding: 0px 5px 0px 5px;
    font-weight: bold;
}

/*bookingSummaryModal*/


#bookingSummaryModal .modal-body{

    padding: 0px;
    height: auto;
}
#bookingSummaryModal #selectedCourtHeader h5,#userHeader h5{
   color: #000;
    font-weight: bold;
    font-size: 15px;
}
#bookingSummaryModal #selectedCourtList{
    background-color: #ddd;
    display: block;
    overflow-y: scroll;
    margin: 5px 10px 5px 10px;
    height: 250px;
}


#bookingSummaryModal .bookSummary-left #selectedCourtList .courtSelect .court-title {
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    margin-left: 2px;
    margin-top: 0px;
    float: left;
    padding: .3em 1em;
    text-decoration: none;
    width: 95%;
    margin:5px;
}
#selectedCourtList .court-body p{
    font-size: 12px;
    color: #000;

}
#selectedCourtList .court-total-price {
    border-top: 2px solid teal;
    margin-top: 10px;


}

#selectedCourtList .court-total-price p{
    font-size: 15px;
    font-weight: bold;


}


.bookingSummaryBtn{
    margin: 10px 10px 0px 0px;
}
.bookSummary-right p{
    font-size: 12px;
}
.bookSummary-right .bookingTable tr td{
    font-size: 12px;

}

/*print Booking Court*/
#userCourtBookedModal .user-profile{
    text-align: center; font-weight:bold;
}
#userCourtBookedModal .bookedDate{
    font-weight:bold;
}
#viewUserCourtBookedTable th{
    font-weight:bold;
}






